<!--AUTHOR: Neset Unver Akmandor (NUA)-->
<!--E-MAIL: akmandor.n@northeastern.edu-->

<launch>
  <!--arg name="config_test"  default="config_test_" /-->
  <arg name="debug"       default="false" />

  <!-- jackal_ur5_holonomic 
       panda  
  -->
  <arg name="robot"       default="panda" />

  <!-- PUBLISH CONFIGURATION PARAMETERS -->
  <!--rosparam file="$(find mobiman_simulation)/config/tests/$(arg config_test).yaml"/-->

  <!--group if="$(eval arg('robot') == 'panda')">
    <include file="$(find panda_moveit_config)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="true" />
      <arg name="info" value="true" />
      <arg name="debug" value="$(arg debug)" />
    </include>
  </group>

  <group if="$(eval arg('robot') == 'jackal_ur5_holonomic')">
    <include file="$(find jackal_ur5_holonomic_moveit_config)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="true" />
      <arg name="info" value="true" />
      <arg name="debug" value="$(arg debug)" />
    </include>
  </group-->

  <node name="test_moveit_planner" pkg="mobiman_simulation" type="test_moveit_planner" output="screen" >
  </node>
</launch>