<!--AUTHOR: Neset Unver Akmandor (NUA)-->
<!--E-MAIL: akmandor.n@northeastern.edu-->

<launch>
  <!-- CONFIGURATION OPTIONS
    config_test_srv_getNearestOccDist
  -->
  <arg name="config_test"  default="config_test_map_utility_srv_getNearestOccDist" />

  <!-- PUBLISH CONFIGURATION PARAMETERS -->
  <rosparam file="$(find mobiman_simulation)/config/tests/$(arg config_test).yaml"/>
  <rosparam file="$(find mobiman_simulation)/config/voxblox.yaml"/>

  <node name="test_map_utility_srv_getNearestOccDist" pkg="mobiman_simulation" type="test_map_utility_srv_getNearestOccDist" output="screen" >
  </node>
</launch>