<?xml version="1.0"?>
<robot name="green_cube_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="PI" value="3.1415926535897931" />

    <xacro:include filename="$(find mobiman_simulation)/urdf/package.urdf.xacro"/>

    <xacro:package 
        prefix="green_cube" 
        color="Green"
        mass="0.2"
        box_size_x="0.05" 
        box_size_y="0.05" 
        box_size_z="0.05" >
    </xacro:package>

</robot>