<?xml version="1.0" ?>
<robot name="scanner" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="robot_namespace" default="/"/>
    <xacro:property name="path_meshes" value="package://mobiman_simulation/meshes" />
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <xacro:property name="M_PI_2" value="1.570796327" />
    <xacro:property name="M_PI_4" value="0.785398163" />
    
    <xacro:include filename="$(find mobiman_simulation)/urdf/materials.xacro" />

    <!-- Import camera-->
    <xacro:include filename="$(find mobiman_simulation)/urdf/realsense-d435.macro.xacro" />

    <link name="base_link"></link>

    <!-- Create camera instance (1.0 1.0 1.0) -->
    <xacro:realsense-d435 
        prefix="d435_cam1" 
        parent="base_link">
        <origin xyz="1.0 1.0 1.0" rpy="0.0 ${3*M_PI_4} ${M_PI_4}" />   
    </xacro:realsense-d435>

    <!-- Create camera instance (-1.0 1.0 1.0) -->
    <xacro:realsense-d435 
        prefix="d435_cam2" 
        parent="base_link">
        <origin xyz="-1.0 1.0 1.0" rpy="0.0 ${3*M_PI_4} ${3*M_PI_4}" />   
    </xacro:realsense-d435>

    <!-- Create camera instance (-1.0 -1.0 1.0) -->
    <xacro:realsense-d435 
        prefix="d435_cam3" 
        parent="base_link">
        <origin xyz="-1.0 -1.0 1.0" rpy="0.0 ${M_PI_4} ${M_PI_4}" />   
    </xacro:realsense-d435>

    <!-- Create camera instance (1.0 -1.0 1.0) -->
    <xacro:realsense-d435 
        prefix="d435_cam4" 
        parent="base_link">
        <origin xyz="1.0 -1.0 1.0" rpy="0.0 ${M_PI_4} ${3*M_PI_4}" />   
    </xacro:realsense-d435>

</robot>