<?xml version="1.0" ?>

<launch>
      <!-- Enable rviz visualization -->
      <arg name="rviz"   default="true" />

      <!-- Set nodes on debug mode -->
      <arg name="debug"  default="false" />

      <!-- The URDF model of the robot -->
      <arg name="urdfFile" />
      
      <!-- The task file for the mpc. -->
      <arg name="taskFile" />
      
      <!-- The library folder to generate CppAD codegen into -->
      <arg name="libFolder" />

      <!-- make the files into global parameters -->
      <param name="taskFile"   value="$(arg taskFile)" />
      <param name="urdfFile"   value="$(arg urdfFile)" />
      <param name="libFolder"  value="$(arg libFolder)" />

      <node if="$(arg debug)" 
                  pkg="ocs2_mobile_manipulator_ros" 
                  type="mobile_manipulator_mpc_node" 
                  name="mobile_manipulator_mpc_node" 
                  output="screen" 
                  launch-prefix="gnome-terminal -- gdb -ex run --args" />
      
      <!--node unless="$(arg debug)" 
                  pkg="ocs2_mobile_manipulator_ros" 
                  type="mobile_manipulator_mpc_node" 
                  name="mobile_manipulator_mpc_node" 
                  output="screen" 
                  launch-prefix="gnome-terminal - -" /-->

      <node pkg="mobiman_simulation" 
            type="ocs2_mobile_manipulator_mpc_node" 
            name="ocs2_mobile_manipulator_mpc_node" 
            output="screen" 
            launch-prefix="gnome-terminal --" />

      <node pkg="mobiman_simulation" 
            type="ocs2_mobile_manipulator_mrt_gazebo_node" 
            name="ocs2_mobile_manipulator_mrt_gazebo_node" 
            output="screen" />
            <!--launch-prefix="" /--> <!--gnome-terminal - - -->

      <node if="$(arg rviz)" 
                  pkg="ocs2_mobile_manipulator_ros" 
                  type="mobile_manipulator_target" 
                  name="mobile_manipulator_target" 
                  output="screen" 
                  launch-prefix="" />
</launch>
