<?xml version="1.0" ?>

<launch>
      <arg name="robot_ns"            default="robotName_0"/>
  
      <!-- Enable rviz visualization -->
      <!--arg name="rviz"        default="true" /-->

      <!-- Set nodes on debug mode -->
      <!--arg name="debug"       default="false" /-->

      <arg name="config_goal_server"  default="config_goal_server" />

      <!--
            gazebo
            igibson
      -->
      <arg name="sim"        default="igibson" />

      <!-- Set nodes on debug mode -->
      <!--
            jackal_ur5
            ur5
            jackalJaco
      -->
      <arg name="robot"       default="jackalJaco" />

      <!-- The task file for the mpc. -->
      <arg name="task_config_path"    default="config/task/task_$(arg robot)_$(arg sim).info" />

      <!-- The URDF model of the robot -->
      <!--arg name="urdfFile"    default="$(find mobiman_simulation)/urdf/jackal_fixedWheel_ur5.urdf" /-->
      <!--arg name="urdfFile"    default="$(find mobiman_simulation)/urdf/jackal_fixedWheel_jaco_fixedFinger.urdf" /-->
      
      <!-- The library folder to generate CppAD codegen into -->
      <!--arg name="libFolder"   default="$(find mobiman_simulation)/codegen/auto_generated/$(arg robot)" /-->

      <!-- make the files into global parameters -->
      <param name="taskFile"   value="$(find mobiman_simulation)/$(arg task_config_path)" />
      <!--param name="urdfFile"   value="$(arg urdfFile)" />
      <param name="libFolder"  value="$(arg libFolder)" /-->

      <group ns="$(arg robot_ns)">
            <rosparam file="$(find mobiman_simulation)/config/$(arg config_goal_server).yaml"/>

            <node pkg="ocs2_mobile_manipulator_ros" 
                  type="mobile_manipulator_target" 
                  name="goal_server" 
                  output="screen" />
      </group>
</launch>
