<?xml version="1.0" ?>

<launch>
      <!-- Enable rviz visualization -->
      <arg name="rviz"        default="false" />
      
      <!--
            gazebo
            igibson
      -->
      <arg name="sim"         default="gazebo" />

      <!--
            ur5
            jackal_ur5
            jackalJaco
      -->
      <arg name="robot"       default="jackalJaco" />
      
      <arg name="robot_ns"    default="jackalJaco_0"/>

      <!-- The task file for the mpc -->
      <arg name="task_config_path"        default="config/task/task_$(arg robot)_$(arg sim).info" />
      <param name="taskFile"              value="$(find mobiman_simulation)/$(arg task_config_path)" />

      <!-- The URDF model of the robot -->
      <!--arg name="urdfFile"    default="$(find mobiman_simulation)/urdf/jackal_fixedWheel_ur5.urdf" /-->
      <arg name="urdf_path"               default="urdf/jackal_fixedWheel_jaco_fixedFinger.urdf" />
      <param name="urdfFile"              value="$(find mobiman_simulation)/$(arg urdf_path)" />

      <!-- The library folder to generate CppAD codegen into -->
      <arg name="lib_path"                default="codegen/auto_generated/$(arg robot)" />
      <param name="libFolder"             value="$(find mobiman_simulation)/$(arg lib_path)" />

      <arg name="collision_points_config_path"  default="config/config_points_on_robot" />
      <rosparam file="$(find mobiman_simulation)/$(arg collision_points_config_path).yaml"/>

      <!--
            mobile_manipulator_node
            mobile_manipulator_node_simplified
       -->
      <group ns="$(arg robot_ns)">
            <node pkg="ocs2_mobile_manipulator_ros" 
                  type="mobile_manipulator_mpc_node" 
                  name="ocs2_m4_mpc" 
                  output="screen"
                  launch-prefix="" />

            <!-- Run Rviz visualization -->
            <group if="$(eval arg('rviz') == true)">
                  <include file="$(find mobiman_simulation)/launch/utilities/rviz.launch" />
            </group>
      </group>
</launch>
