<?xml version="1.0" ?>

<launch>
      <!-- Enable rviz visualization -->
      <arg name="rviz"        default="true" />
      <arg name="simulation"  value="true" />

      <!-- Set nodes on debug mode -->
      <!--arg name="debug"       default="false" /-->

      <!-- Set nodes on debug mode -->
      <!--
            ur5
            jackal_ur5
            jackal_jaco
      -->
      <arg name="robot"       default="jackal_jaco" />
      <!-- <arg name="taskFile"    default="" /> -->
      <!-- The task file for the mpc. -->
      <group if="$(arg simulation)">
            <param name="taskFile"    value="$(find mobiman_simulation)/config/task/task_$(arg robot).info" />
      </group>
      <group unless="$(arg simulation)">
            <param name="taskFile"    value="$(find mobiman_simulation)/config/task/exp_$(arg robot).info" />
      </group>

      <!-- The URDF model of the robot -->
      <!--arg name="urdfFile"    default="$(find mobiman_simulation)/urdf/jackal_fixedWheel_ur5.urdf" /-->
      <arg name="urdfFile"    default="$(find mobiman_simulation)/urdf/jackal_fixedWheel_jaco_fixedFinger.urdf" />
      
      <!-- The library folder to generate CppAD codegen into -->
      <arg name="libFolder"   default="$(find mobiman_simulation)/codegen/auto_generated/$(arg robot)" />

      <!-- make the files into global parameters -->
      <!-- <param name="taskFile"   value="$(arg taskFile)" /> -->
      <param name="urdfFile"   value="$(arg urdfFile)" />
      <param name="libFolder"  value="$(arg libFolder)" />

      <node pkg="ocs2_mobile_manipulator_ros" 
            type="mobile_manipulator_node" 
            name="mobile_manipulator_node" 
            output="screen"
            launch-prefix="" />
</launch>
