<?xml version="1.0" ?>

<launch>
      <!-- Enable rviz visualization -->
      <arg name="rviz"   default="true" />

      <!-- Set nodes on debug mode -->
      <arg name="debug"  default="false" />

      <!-- The URDF model of the robot -->
      <arg name="urdfFile" />
      
      <!-- The task file for the mpc. -->
      <arg name="taskFile" />
      
      <!-- The library folder to generate CppAD codegen into -->
      <arg name="libFolder" />

      <!-- make the files into global parameters -->
      <param name="taskFile"   value="$(arg taskFile)" />
      <param name="urdfFile"   value="$(arg urdfFile)" />
      <param name="libFolder"  value="$(arg libFolder)" />

      <!-- Voxblox parameters -->
      <remap from="/mobile_manipulator_mpc_node/esdf_map_in" to="esdf_map" />
      <param name="/mobile_manipulator_mpc_node/tsdf_voxel_size" value="0.1" />
      <param name="/mobile_manipulator_mpc_node/tsdf_voxels_per_side" value="16" />
      <!--param name="/mobile_manipulator_mpc_node/publish_esdf_map" value="true" />
      <param name="/mobile_manipulator_mpc_node/publish_pointclouds" value="true" />
      <param name="/mobile_manipulator_mpc_node/use_tf_transforms" value="true" />
      <param name="/mobile_manipulator_mpc_node/allow_clear" value="true" />
      <param name="/mobile_manipulator_mpc_node/update_mesh_every_n_sec" value="0.05" />
      <param name="/mobile_manipulator_mpc_node/clear_sphere_for_planning" value="false" />

      <remap from="/mobile_manipulator_gazebo_mrt_node/esdf_map_in" to="esdf_map" />
      <param name="/mobile_manipulator_gazebo_mrt_node/tsdf_voxel_size" value="0.1" />
      <param name="/mobile_manipulator_gazebo_mrt_node/tsdf_voxels_per_side" value="16" />
      <param name="/mobile_manipulator_gazebo_mrt_node/publish_esdf_map" value="true" />
      <param name="/mobile_manipulator_gazebo_mrt_node/publish_pointclouds" value="true" />
      <param name="/mobile_manipulator_gazebo_mrt_node/use_tf_transforms" value="true" />
      <param name="/mobile_manipulator_gazebo_mrt_node/allow_clear" value="true" />
      <param name="/mobile_manipulator_gazebo_mrt_node/update_mesh_every_n_sec" value="0.05" />
      <param name="/mobile_manipulator_gazebo_mrt_node/clear_sphere_for_planning" value="false" /-->

      <!--remap from="pointcloud" to="pc2_scan"/>
      <remap from="voxblox_node/esdf_map_out" to="esdf_map" />    
      <param name="tsdf_voxel_size" value="0.1" />
      <param name="tsdf_voxels_per_side" value="16" />
      <param name="publish_esdf_map" value="true" />
      <param name="publish_pointclouds" value="true" />
      <param name="use_tf_transforms" value="true" />
      <param name="allow_clear" value="true" />
      <param name="update_mesh_every_n_sec" value="0.2" />
      <param name="clear_sphere_for_planning" value="true" />
      <param name="world_frame" value="world" />
      <rosparam file="$(find mobiman_simulation)/config/voxblox.yaml"/-->

      <node pkg="ocs2_mobile_manipulator_ros" 
            type="mobile_manipulator_mpc_node" 
            name="mobile_manipulator_mpc_node" 
            output="screen" />
            <!--launch-prefix="gnome-terminal - -" /-->

      <node pkg="ocs2_mobile_manipulator_ros" 
            type="mobile_manipulator_gazebo_mrt_node" 
            name="mobile_manipulator_gazebo_mrt_node" 
            output="screen" 
            launch-prefix="gnome-terminal --"/>
            <!--launch-prefix="" /--> <!--gnome-terminal - - -->

      <node if="$(arg rviz)" 
                  pkg="ocs2_mobile_manipulator_ros" 
                  type="mobile_manipulator_target" 
                  name="mobile_manipulator_target" 
                  output="screen" />
                  <!--launch-prefix="" /-->
</launch>
