<?xml version="1.0" ?>

<launch>

      <!-- Enable rviz visualization -->
      <arg name="rviz"        default="true" />

      <!-- Set nodes on debug mode -->
      <arg name="debug"       default="false" />

      <!-- Set nodes on debug mode -->
      <!--
            jackal_ur5
            ur5
      -->
      <arg name="robot"       default="jackal_ur5" />

      <!-- The URDF model of the robot -->
      <arg name="urdfFile"    default="$(find mobiman_simulation)/urdf/jackal_fixedWheel_ur5.urdf" />
      
      <!-- The task file for the mpc. -->
      <arg name="taskFile"    default="$(find mobiman_simulation)/config/task_$(arg robot).info" />
      
      <!-- The library folder to generate CppAD codegen into -->
      <arg name="libFolder"   default="$(find mobiman_simulation)/codegen/auto_generated/$(arg robot)" />

      <!-- make the files into global parameters -->
      <param name="taskFile"   value="$(arg taskFile)" />
      <param name="urdfFile"   value="$(arg urdfFile)" />
      <param name="libFolder"  value="$(arg libFolder)" />

      <node pkg="ocs2_mobile_manipulator_ros" 
            type="mobile_manipulator_mpc_node" 
            name="mobile_manipulator_mpc_node" 
            output="screen"
            launch-prefix="" />
</launch>
