<launch>
  <arg name="rviz_config_path" default="rviz/debug" />
  <arg name="robot_ns"            default="robotName_0"/>
  
  <group ns="$(arg robot_ns)">
    <node name="rviz" 
          pkg="rviz" 
          type="rviz" 
          args="-d $(find mobiman_simulation)/$(arg rviz_config_path).rviz" 
          required="true" />
  </group>

</launch>