<!--AUTHOR: Neset Unver Akmandor (NUA)-->
<!--E-MAIL: akmandor.n@northeastern.edu-->

<launch>
  <!-- CONFIGURATION OPTIONS
    config_map_utility_scanner
  -->
  <arg name="config_map_utility"  default="config_map_utility_scanner" />

  <!-- PUBLISH CONFIGURATION PARAMETERS -->
  <rosparam file="$(find mobiman_simulation)/config/$(arg config_map_utility).yaml"/>

  <node name="scan_utility_server" pkg="mobiman_simulation" type="scan_utility_server" output="screen" />
</launch>