<launch>
  <arg name="cam_name" default="d435" />
  <arg name="prefix" default="d435_cam1" />

  <arg name="rgb_camera_info" value="/$(arg prefix)$(arg cam_name)/camera/color/camera_info"/>
  <arg name="rgb_img_rect" value="/$(arg prefix)$(arg cam_name)/camera/color/image_raw"/>
  <arg name="depReg_imgraw" value="/$(arg prefix)$(arg cam_name)/camera/depth/image_raw"/>
  <arg name="depReg_imgrect" value="/$(arg prefix)$(arg cam_name)/camera/depth/image_rect"/>
  <arg name="out_cloud" value="/$(arg prefix)$(arg cam_name)/camera/depth_registered/points"/>

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet_$(arg prefix)" args="manager" output="screen"/>

  <!-- Convert depth from mm (in uint16) to meters -->
  <node pkg="nodelet" type="nodelet" name="convert_metric_$(arg prefix)" args="load depth_image_proc/convert_metric_ standalone_nodelet">
    <remap from="image_raw" to="$(arg depReg_imgraw)"/>
    <remap from="image" to="$(arg depReg_imgrect)"/>
  </node>

  <!-- Construct point cloud of the rgb and depth topics -->
  <node pkg="nodelet" type="nodelet" name="points_xyzrgb_$(arg prefix)" args="load depth_image_proc/point_cloud_xyzrgb standalone_nodelet --no-bond">
    <remap from="rgb/camera_info" to="$(arg rgb_camera_info)" />
    <remap from="rgb/image_rect_color" to="$(arg rgb_img_rect)"/>
    <remap from="depth_registered/image_rect" to="$(arg depReg_imgrect)"/>
    <remap from="depth_registered/points" to="$(arg out_cloud)"/>
  </node>

  <!-- Convert poincloud_to_laserscan -->
  <!--node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_$(arg prefix)" output="screen">

    <remap from="cloud_in" to="$(arg out_cloud)"/>
    <remap from="scan" to="scan_$(arg prefix)"/>
    <rosparam>
      target_frame: base_link # Leave empty to output scan in the pointcloud frame
      tolerance: 1.0
      min_height: 0.00
      max_height: 3.0

      angle_min: -3.14159 # 0.52 # -30.0*M_PI/180.0
      angle_max: 3.14159 # 0.52 # 30.0*M_PI/180.0
      angle_increment: 0.005 # M_PI/360.0
      scan_time: 0.3333
      range_min: 0.45
      range_max: 8.0
      use_inf: true

      # Concurrency level, affects number of pointclouds queued for processing and number of threads used
      # 0 : Detect number of cores
      # 1 : Single threaded
      # 2->inf : Parallelism level
      concurrency_level: 2
    </rosparam>
  </node-->

</launch>
