<launch>

  <!-- General Parameters -->
  <!-- Custom -->
  <arg name="gazebo" default="true"/>
  <arg name="has_marker" default="true"/>

  <!-- Gazebo -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="robot_namespace" default="/"/>

  <!-- Launch the Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mobiman_simulation)/worlds/empty_world_no_ground.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="verbose" value="$(arg verbose)" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 1 world base_link 100" />

  <!-- Launch object -->
  <arg name="object_name" value="longwide_pkg"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param  name="robot_description_object"
          command="$(find xacro)/xacro '$(find mobiman_simulation)/urdf/$(arg object_name).urdf.xacro'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner_object" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        respawn="false" 
        output="screen"
        args="-urdf 
              -model $(arg object_name)_gazebo
              -param robot_description_object 
              -robot_namespace $(arg robot_namespace)
              -unpause"/>

  <!-- Launch scanners -->
  <group ns="$(arg robot_namespace)">
    <!-- Load the URDF into the ROS Parameter Server -->
    <param  name="robot_description_scanners"
            command="$(find xacro)/xacro '$(find mobiman_simulation)/urdf/scanner.urdf.xacro'" />

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner_scanners" 
          pkg="gazebo_ros" 
          type="spawn_model" 
          respawn="false" 
          output="screen"
          args="-urdf 
                -model scanner 
                -param robot_description_scanners 
                -robot_namespace $(arg robot_namespace)
                -unpause"/>
    
    <!-- Run the sensor processes (1.0 1.0 1.0) -->
    <include file="$(find mobiman_simulation)/launch/utilities/scanner_camera_process.launch" >
      <arg name="prefix" value="d435_cam1"/>
    </include>

    <!-- Run the sensor processes (-1.0 1.0 1.0) -->
    <include file="$(find mobiman_simulation)/launch/utilities/scanner_camera_process.launch" >
      <arg name="prefix" value="d435_cam2"/>
    </include>

    <!-- Run the sensor processes (-1.0 -1.0 1.0) -->
    <include file="$(find mobiman_simulation)/launch/utilities/scanner_camera_process.launch" >
      <arg name="prefix" value="d435_cam3"/>
    </include>

    <!-- Run the sensor processes (1.0 -1.0 1.0) -->
    <include file="$(find mobiman_simulation)/launch/utilities/scanner_camera_process.launch" >
      <arg name="prefix" value="d435_cam4"/>
    </include>
  
    <!-- Run Rviz visualization -->
    <include file="$(find mobiman_simulation)/launch/utilities/scanner_display.launch" />

    <!-- Spawn marker on the robot -->
    <!--node if="$(arg has_marker)" name="spawn_markers" pkg="mobiman_simulation" type="spawn_markers" output="screen" /-->
  </group>

</launch>
